.default-input__wrapper {
  position: relative;
  width: 100%;
  min-height: 45px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.default-input__wrapper:focus-within::before {
  content: "";
  position: absolute;
  top: -2px; 
  right: -2px;
  bottom: -2px;
  left: -2px;
  border: 2px solid rgb(206, 247, 250);
  border-radius: 20px;
}

.default-input__wrapper.error::before {
  content: "";
  position: absolute;
  top: -2px; 
  right: -2px;
  bottom: -2px;
  left: -2px;
  border: 2px solid #f16868;
  border-radius: 20px;
}

.padding-right {
  padding-right: 35px;
}

.default-input {
  position: relative;
  width: 100%;
  min-height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  caret-color: rgb(206, 247, 250);
  color: rgb(206, 247, 250);
  font-size: 1.5em;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 20px;
  transition: all 0.05s ease-in;
}

.default-input:focus,
.default-input:focus-visible {
  outline: none;
}