.default-input {
  position: relative;
  width: 100%;
  min-height: 35px;
  padding-left: 5px;
  padding-right: 10px;
  box-sizing: border-box;
  caret-color: rgb(206, 247, 250);
  color: rgb(206, 247, 250);
  font-size: 1.2em;
  background: none;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  transition: all 0.05s ease-in;
}

.default-input:focus-within {
  outline: 2px solid rgb(206, 247, 250);
  border-radius: 3px;
}

:user-invalid {
  outline: 2px solid #f16868;
}

.error {
  outline: 2px solid #f16868;
}

@media only screen and (max-width: 768px) {
  .default-input {
    background: rgba(0, 0, 0, 0.15);
    min-height: 50px;
  }  
}