.field-group {
  position: relative;
  margin-bottom: 15px;
  text-align: left;
}

.field-wrapper {
  position: relative;
}

.label {
  display: inline-block;
  margin-bottom: 10px;
}

.warning {
  color: rgb(244, 169, 7);
}

.toggle-password-visibility {
  height: 45px;
  width: 45px;
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 4px;
}

.toggle-password-visibility:disabled,
.toggle-password-visibility:disabled:hover {
  background: none;
  cursor: default;
}
