.field-group {
  margin-bottom: 15px;
  text-align: left;
  font-size: 0.8em;
}

.field-wrapper {
  position: relative;
}

.label {
  display: inline-block;
  margin-bottom: 10px;
}

.warning {
  color: rgb(244, 169, 7);
}

.default-password-field {
  padding-right: 40px;
}

.toggle-password-visibility {
  min-height: 35px;
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  top: 2px;
  right: 2px;
}

.toggle-password-visibility:disabled,
.toggle-password-visibility:disabled:hover {
  background: none;
  cursor: default;
}

@media only screen and (max-width: 768px) {
  .toggle-password-visibility {
    min-height: 35px;
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    top: 8px;
    right: 5px;
  }
}